{% extends '@DrawUser/security/base_box.html.twig' %}

{% block login_box_body %}
    {% block sonata_user_reset_form %}
        <p class="login-box-msg">{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</p>
        {{ form_start(form, { 'action': path('admin_change_password') }) }}
        <div class="form-group">
            {{ form_widget(form.plainPassword.first, {'attr': {
                'class': 'form-control',
                'placeholder': 'form.new_password'|trans({}, 'FOSUserBundle')
            }}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.plainPassword.second, {'attr': {
                'class': 'form-control',
                'placeholder': 'form.new_password_confirmation'|trans({}, 'FOSUserBundle')
            }}) }}
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">
                    {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    {% endblock %}
{% endblock login_box_body %}